APP_BASE_URL=http://127.0.0.1:8000
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/url_shortener

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=url_shortener

ENCRYPTION_KEY=your_32_char_hex_aes128_key_here
ENCRYPTION_TWEAK=your_14_char_hex_tweak_here

JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_ALGORITHM=HS256
